<section id="home" class="bg-video section-name">
	<%= video_tag "sample.mp4", class: "img-responsive", id: "bgvid", playsinline: true, autoplay: true, muted: true, loop: true %>
	<div class="carousel-inner1">	
	</div>
	<div id="text-carousel" class="carousel slide carousel-1 text-center" data-ride="carousel" data-pause="false" data-interval="1500">
		<!-- Wrapper for slides -->
		<div class="logo">
			<%= image_tag "123.png", class: "img-responsive"%>
		</div>
		<div class="carousel-inner">
			<div class="item  active">
				<div class="carousel-content style-content">
					<div class="car-text">
						<p>Reliable</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="carousel-content style-content">
					<div class="car-text">
						<p>Economical </p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="carousel-content style-content">
					<div class="car-text">                          
						<p>Reachable </p>
					</div>
				</div>
			</div>
		</div>
		<div class="stars pull-right">
			<span class="fa fa-star fa-2x" aria-hidden="true"></span>
			<span class="fa fa-star fa-2x" aria-hidden="true"></span>
			<span class="fa fa-star fa-2x" aria-hidden="true"></span>
			<span class="fa fa-star fa-2x" aria-hidden="true"></span>
			<span class="fa fa-star fa-2x" aria-hidden="true"></span>
			<span class="star-marks">4/5</span>
		</div>
	</div>
</section>

<!-- aboutus-section -->
<section id="about" class="aboutus-section section-name">
	<div class="container">
		<div class="row slideanim">
			<div class="col-md-7 ">
				<div class="aboutus-detail ">
					<h3>ABOUT US</h3>
					<p>We have over a 7 years of experience in repairing personal gadgets. We are based in manchester providing services to fix any kind of phone. Its very difficult for a person to stay without his/her phone in this modern era. You are busy in your work, or at home, we provide services to fix your phone. Just give us a opportunity to serve you.We do work with warranty. </p>
				</div>
			</div>
			<div class="col-md-5 ">
				<div class="aboutus-img ">
					<%= image_tag "3.jpg", alt: "IMG"%>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- aboutus-section -->
<section  id="quick" class="time-take slideanim section-name">
	<div  class="sections-heading section-ab">
		<h3 class="heading-text">Services At Your Door Step</h3>
		<p class="sec-para-black">We offer our top notch repair services at your door step within 10 miles</p>
	</div>
	<!-- carousel-block -->
	<div class="carousel-block">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="false">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
				<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item itemm active">
					<%= image_tag "ab-3.jpg", alt: "IMG"%>
					<div class="carousel-caption">
						<p>Broken/Problematic replacement of any iPhone/iPad/iPod device</p>
					</div>
				</div>
				<div class="item itemm">
					<%= image_tag "ab-1.jpg", alt: "IMG"%>
					<div class="carousel-caption">
						<p>Battery replacement of any iPhone/iPad/iPod device </p>
					</div>
				</div>
				<div class="item itemm">
					<%= image_tag "ab-4.jpg", alt: "IMG"%>
					<div class="carousel-caption">
						<p>Charging port replacement of any iPhone/iPad/iPod device</p>
					</div>
				</div>
				<div class="item itemm">
					<%= image_tag "ab-5.jpg", alt: "IMG"%>
					<div class="carousel-caption">
						<p>Problematic Speaker replacement of any iPhone/iPad/iPod device</p>
					</div>
				</div>
				<div class="item itemm">
					<%= image_tag "ab-6.jpg", alt: "IMG"%>
					<div class="carousel-caption">
						<p>Volume buttons fix of any iPhone/iPad/iPod device</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- carousel-block -->
</section>
<!-- news-section -->
<section id="service" class="news-section slideanim section-name">
	<div class="container-fluid">
		<div class="sections-heading time-take-padding">
			<h3 class="heading-text">Other Services</h3>
			<p class="sec-para-black">Some problems require more time for proper fix, have a look on what we offer.</p>
		</div>
		<div class="row">
			<div class="slider">
				<div class="slide">
					<div class="card">
						<%= image_tag "6.jpg", class: "card-img-top"%>
						<div class="zxc"></div>
						<div class="card-block">
							<h2 class="card-title">Screen Change</h2>
							<div class="card-text">

							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<%= image_tag "4.jpg", class: "card-img-top"%>
						<div class="zxc"></div>
						<div class="card-block">
							<h2 class="card-title">Home Button</h2>
							<div class="card-text">
								
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<%= image_tag "5.jpg", class: "card-img-top"%>
						<div class="zxc"></div>
						<div class="card-block">
							<h2 class="card-title">IC Faults</h2>
							<div class="card-text">
								
							</div>
						</div>
					</div>
				</div>.
				<div class="slide">
					<div class="card">
						<%= image_tag "2.jpg", class: "card-img-top"%>
						<div class="zxc"></div>
						<div class="card-block">
							<h2 class="card-title">Battery Faults</h2>
							<div class="card-text">
								
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<%= image_tag "7.jpg", class: "card-img-top"%>
						<div class="zxc"></div>
						<div class="card-block">
							<h2 class="card-title">Glass Change</h2>
							<div class="card-text">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- news-section -->
<!-- contact-us -->
<section id="contact" class="section-contact-us slideanim section-name">
	<div class="container">
		<div class="sections-heading">
			<h3 class="heading-text">Contact US</h3>
			<p class="contact-text">You facing problem with your gadget? Please contact us and we will get back to you within in couple of minutes.</p>
		</div>
		<div class="row">
			<form class="form-horizontal" action="/contact">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-sm-2" >Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control form-style"  placeholder="Enter Name" name="name" required="true">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" >Email:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control form-style"  placeholder="Enter Email" name="email" required="true">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" >Message:</label>
						<div class="col-sm-10">
							<textarea class="form-control form-style" placeholder="Enter Message" name="message" required="true"></textarea>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-sm-2" >Phone:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control form-style"  placeholder="Enter Phone" name="phone" required="true">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" >Adress:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control form-style"  placeholder="Enter Home Adress" name="address" required="true">
						</div>
					</div>
				</div>
				<div class="col-md-12 text-center">
					<input type="submit" class="btn btn-contact" value="send">
				</div>
			</form>
		</div>
	</div>
</section>
<!-- contact-us-end -->
<section class="rating section-name">
	<div class="container">
		<div class="row ">
			<div class="sections-heading text-center">
				<h3 class="heading-text">Feedback</h3>
				<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				<div class="feedback">
					<span class="fa fa-star" aria-hidden="true"></span>
					<span class="fa fa-star" aria-hidden="true"></span>
					<span class="fa fa-star" aria-hidden="true"></span>
					<span class="fa fa-star" aria-hidden="true"></span>
					<span class="fa fa-star" aria-hidden="true"></span>
					<span class="feed-marks">4/5</span>
				</div>
			</div>
			<div id="comment-carousel" class="carousel slide carousel-2 " data-ride="carousel" data-pause="false" data-interval="2000">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item  active">
						<div class="carousel-content style-content">
							<div class="comment">
								<div class="round-image"><%= image_tag "img-8.png"%></div><br>
								<div class="chat-c"><span class="fa fa-caret-up"></span>
									<p class="comment-name">MAHMOOD HASSAN</p>
									<div class="comment-star">
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
									</div>
									<p class="comment-text">SOME TEXT SOME TEXT SOME TEXT SOME TEXT</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="carousel-content style-content">
							<div class="comment">
								<div class="round-image"><%= image_tag "img-8.png"%></div><br>
								<div class="chat-c"><span class="fa fa-caret-up"></span>
									<p class="comment-name">MAHMOOD HASSAN</p>
									<div class="comment-star">
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
									</div>
									<p class="comment-text">SOME TEXTSOME TEXTSOME TEXTSOME TEXTSOME TEXTSOME TEXTSOME</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="carousel-content style-content">
							<div class="comment">
								<div class="round-image"><%= image_tag "img-8.png"%></div><br>
								<div class="chat-c"><span class="fa fa-caret-up"></span>
									<p class="comment-name">MAHMOOD HASSAN</p>
									<div class="comment-star">
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
										<span class="fa fa-star" aria-hidden="true"></span>
									</div>
									<p class="comment-text">SOME TEXT SOME TEXTSOME TEXTSOME TEXTSOME TEXTSOME TEXT</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="sections-heading text-center">
					<h3 class="heading-text review">Review us</h3>
					<div class="feedback">
						<span class="fa fa-star fa-2x" aria-hidden="true"></span>
						<span class="fa fa-star fa-2x" aria-hidden="true"></span>
						<span class="fa fa-star fa-2x" aria-hidden="true"></span>
						<span class="fa fa-star fa-2x" aria-hidden="true"></span>
						<span class="fa fa-star fa-2x" aria-hidden="true"></span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" >Message:</label>
					<div class="col-sm-12">
						<textarea class="form-control form-style" placeholder="Enter Message"></textarea>
					</div>
				</div>
				<button class="btn btn-contact btn-padding pull-right" data-toggle="modal" data-target="#myModal">Submit</button>
			</div>
		</div>
	</div>
</section>